@tailwind "base";
@tailwind "components";
@tailwind "utilities";

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background: #f9fafb; /* abu-abu terang */
  color: #1f2937; /* teks gelap */
}

@import "tailwindcss";